<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="myGreeter" class="rgn.camelia.ch02.EnglishGreeter"/>

	<bean id="greetMeBean" class="rgn.camelia.ch02.GreetMeBean">
		<property name="greeter" ref="myGreeter"/>
	</bean>

</beans>